.standard{
    margin-top: 50px;
}
.stan_text::after{
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: aqua;
    margin: 30px auto;
    border-radius: 5px;
}

.css-i4bv87-MuiSvgIcon-root {
    color: aqua;
    font-size: 35px !important;
}
.MuiPaper-root{
    background: none !important;
    border-top: 1px solid var(--MuiPaper);
}
.MuiPaper-root::before{
    border-bottom: 3px solid var(--MuiPaper);
}
.hardw_box_div{
    font-weight: bold !important;
    font-size: 20px !important;
}
.hr_lines{
    background-color: black !important;
    border: 1px solid black;
    width: 100%;
    height: 1.0px;
}
.hardw_box_div:hover{
    color: rgb(176, 176, 176);
}